.container {
    height: 100vh;
    background-color: #263137;

    display: grid;
    grid-template-areas: "area-title"
                         "area-refresh"
                         "area-card";
    place-items: center;
}

.container__title {

    grid-area: area-title;

    color: whitesmoke;
    font-size: 2rem;
    border-bottom: 2px solid royalblue;
    padding-bottom: 1rem;
}

.container__refresh {

    grid-area: area-refresh;

    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: #36474F;
    color: #c5d4db;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s linear;
}

.container__refresh:hover {
    box-shadow: 4px 4px 1px #4F6773;
}

.container__refresh:focus {
    outline: none;
}

.container__cards {

    grid-area: area-card;

    height: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 1300px) {
    
    .container__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    
    .container__cards {
        grid-template-columns: 1fr;
        place-items: center;
    }
}